In [1]:
import pandas as pd

In [5]:
trip_data = pd.read_parquet('green_tripdata_2021-01.parquet')

In [7]:
trip_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
6,2,2021-01-01 00:19:14,2021-01-01 00:19:21,N,5.0,265,265,1.0,0.00,180.0,0.0,0.0,36.06,0.0,None,0.3,216.36,1.0,2.0,0.0
15,2,2021-01-01 00:29:05,2021-01-01 00:29:07,N,5.0,42,264,1.0,0.00,10.0,0.0,0.0,2.06,0.0,None,0.3,12.36,1.0,2.0,0.0
30,2,2021-01-01 00:35:29,2021-01-01 00:55:15,N,5.0,74,247,1.0,3.64,13.0,0.0,0.0,0.00,0.0,None,0.3,13.30,2.0,2.0,0.0
43,2,2021-01-01 23:12:41,2021-01-02 01:13:53,N,5.0,95,82,1.0,0.00,9.7,0.0,0.0,2.00,0.0,None,0.3,12.00,1.0,2.0,0.0
45,2,2021-01-01 01:49:29,2021-01-01 01:49:33,N,5.0,244,244,5.0,0.02,12.0,0.0,0.0,2.46,0.0,None,0.3,14.76,1.0,2.0,0.0

In [11]:
trip_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1238 entries, 6 to 40430
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               1238 non-null   int64
 1   lpep_pickup_datetime   1238 non-null   datetime64[ns]
 2   lpep_dropoff_datetime  1238 non-null   datetime64[ns]
 3   store_and_fwd_flag     1238 non-null   object
 4   RatecodeID             1238 non-null   float64
 5   PULocationID           1238 non-null   int64
 6   DOLocationID           1238 non-null   int64
 7   passenger_count        1238 non-null   float64
 8   trip_distance          1238 non-null   float64
 9   fare_amount            1238 non-null   float64
 10  extra                  1238 non-null   float64
 11  mta_tax                1238 non-null   float64
 12  tip_amount             1238 non-null   float64
 13  tolls_amount           1238 non-null   float64
 14  ehail_fee              0 non-null      object
 15  improvement_surcharge  1238 non-null   float64
 16  total_amount           1238 non-null   float64
 17  payment_type           1238 non-null   float64
 18  trip_type              1238 non-null   float64
 19  congestion_surcharge   1238 non-null   float64
 20  duration               1238 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(13), int64(3), object(2), timedelta64[ns](1)
memory usage: 212.8+ KB

In [6]:
trip_data = trip_data[trip_data.trip_type == 2]

In [13]:
trip_data['duration'] = trip_data['lpep_dropoff_datetime'] - trip_data['lpep_pickup_datetime']
trip_data['duration'] = trip_data['duration'].apply(lambda x: x.total_seconds() / 60)

In [14]:
trip_data['duration']

6          0.116667
15         0.033333
30        19.766667
43       121.200000
45         0.066667
            ...
40363      9.450000
40364     35.033333
40377      0.666667
40394      0.050000
40430     23.150000
Name: duration, Length: 1238, dtype: float64

In [21]:
# %98 percent of the duration is less than one hour
trip_data.duration.describe(percentiles=[0.95, 0.98, 0.99])

count    1238.000000
mean       18.305493
std       108.364382
min         0.000000
50%         1.666667
95%        35.604167
98%        59.339333
99%       149.837833
max      1416.100000
Name: duration, dtype: float64

In [26]:
# Restrict our region of interest to data that is less than one hour
trip_data = trip_data[(trip_data.duration > 1) & (trip_data.duration < 60)] 
trip_data.duration.describe()

count    640.000000
mean      15.112292
std       11.514934
min        1.016667
25%        6.433333
50%       12.766667
75%       21.070833
max       58.966667
Name: duration, dtype: float64